footer{
    background-color:#1755ed; 
    color: white;
}
a {
    color: white;
}
.card-body{
    /* background-color: #1755ed; */
} 
p{
    font-size: x-small;
}
.card{
    padding: 0%;
}
ul{
    justify-content: space-between;
}
.image-properties{
    padding-top: px;
    padding-bottom: 60px;
}
.card-text{
    font-size: xx-small;
}
.second-card{
    border-color: white;
}
#get-started-button{
    background-color:rgb(109, 219, 45)
}
#arrows{
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#chat-button{

}
.links{
    font-size: 10px;
    font-weight: lighter;
}