.blue-list {
    list-style: none;
  }
  
.blue-list li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
